DATABASE_URL=postgresql://vitalgoal:vitalgoal@localhost:5435/vitalgoal
PORT=3000
JWT_SECRET="something"
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_CONTAINER_NAME=
AZURE_SAS_TTL_SECONDS=3600
